<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entreprises</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:replace="~{template1::navbar}"></header>
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <div class="container-fluid d-flex justify-content-between">
                <p class="m-0">Ajouter une Entreprise</p>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/createEntreprise}" method="post">
                <div class="mb-3">
                    <label class="form-label">Nom de l'Entreprise :</label>
                    <input
                        class="form-control"
                        type="text"
                        name="nomSociete"
                        minlength="3"
                        maxlength="30"
                        th:value="${entreprise.nomSociete}" />
                    <small class="text-danger" th:errors="${entreprise.nomSociete}"></small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Raison Sociale :</label>
                    <input
                            class="form-control"
                            type="text"
                            name="raisonSociale"
                            minlength="3"
                            maxlength="30"
                            th:value="${entreprise.raisonSociale}" />
                    <small class="text-danger" th:errors="${entreprise.raisonSociale}"></small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email :</label>
                    <input
                            class="form-control"
                            type="email"
                            name="email"
                            th:value="${entreprise.email}" />
                    <small class="text-danger" th:errors="${entreprise.email}"></small>
                </div>
                <a role="button" class="btn btn-secondary" href="/entreprises">Annuler</a>
                <button type="submit" class="btn btn-primary">Sauvgarder</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{template1::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>