<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entreprises</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-black" style="min-height: 100vh">
<header th:replace="~{template1::navbar}"></header>
<div class="container mt-3">
    <div class="card border-danger bg-dark">
        <div class="card-header">
            <div class="container-fluid d-flex justify-content-between" style="color: lightgray">
                <p class="m-0">List des Entreprises</p>
                <form th:action="@{/entreprises}">
                    <span>Chercher le Nom</span>
                    <input class="border border-info rounded bg-light bg-opacity-10" type="text" name="motCle" id="motCle">
                    <button type="submit" class="rounded border-0 btn-info">Chercher</button>
                </form>
                <div>
                    <a class="btn btn-outline-secondary py-0" aria-current="page" th:href="@{/createEntreprise}">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table" style="color: #00FF005F;">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Nom de Societé</th>
                    <th scope="col">Raison Sociale</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                <tr th:each="e:${entrepriseList}">
                    <td th:text="${e.code}"></td>
                    <td th:text="${e.nomSociete}"></td>
                    <td th:text="${e.raisonSociale}"></td>
                    <td th:text="${e.email}"></td>
                    <td>
                        <a th:href="@{/taxes(code=${e.code})}">Taxes</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <ul class="nav">
                <li class="nav-item" th:each="p, stat:${pages}">
                    <a
                        th:class="${currentPage==stat.index}?'nav-link text-dark bg-success bg-opacity-25 rounded':'nav-link'"
                        th:text="${stat.count}"
                        th:href="@{/entreprises(page=${stat.index}, motCle=${motCle})}"
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="~{template1::footer}"></footer>
</body>
</html>